body {
  font-family: 'Open Sans', sans-serif; 
  font-size: 16px;
  line-height: 1;
}
.time-lead {
  font-size: 40px;

}
textarea {
  white-space: pre-wrap;
  background: transparent;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;

}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  background-color: #bedebe;
  color: black;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.75);
  margin: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
.time-block {
  margin: 5px;
  box-shadow: 1px 1px 13px 1px rgba(0,0,0,0.75);
  border-radius: 15px;
  }
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: bolder;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 50px;
  transition: all 0.1s ease-in-out;
  color: yellow
}

